<html>
<head>
<title>The Saudi Princess Dictionary</title>
</head>
<body>
  <h1>Thank you for the lovely additions!</h1>
  <form method="POST" action="/save">
    <input name = "word">
    <input name = "meaning">
    <button type ="submit">ADD</button>
  </form>
</body>
</html>
