<html>
<head>
  <title>The Limited Dictionary</title>
  <styles>
    h1 {
      text-align:left
       }
    h3 {
      text-align:left
       }
    p  {
      padding-left: 18px;
      font-size: 20px
      }
    a:visited {
      color: red;
      }
  </style>
</head>
<body>
  <h1>Welcome to the Limited Dictionary</h1>
  <h3>'Your super duper short dictionary.'</h3>
  <div>
    <form method="GET" action=/search">
      Looking for something?
      <input name = "search">
    <button type="submit">Show</button>
  </form>
</div>
<div>
  Don't see the word you're looking for? <a href="/add">ADD</a> to make the Limited Dictionary more awesome!
</div>
<% Definition.all.each. do |value|%>
<p> <%= value.word %> = <%= value.meaning %> </p>
<%end%>
</body>
</html>
