<html>
  <head>
  <title>The Limited Dictionary</title>
    <style>
      h1 {
          text-align:left;
          margin-top: 160px;
         }
      h2 {
          text-align:left;
         }
      h3 {
          text-align: center;
          margin-bottom: 0px;
         }
      h6 {
          text-align: center;
          margin: 0px;
         }
      a:link{
          text-decoration: none;
          color: blue;
         }
      a:visited {
          color: green;
         }
    </style>
  </head>
  <body>
    <h1>Uh Oh. That wasn't suppose to happen!</h1>
    <h2> Something's not working properly.</h2>
    <h3><a href="/">NOT TO WORRY! TRY AGAIN?</a></h3>
    <h6>click here</h6>
  </body>
</html>
