<html>
  <head>
    <title>search</title>
    <style>
    a:link{
      color: black;
    }
    a:visited {
      color: red;
    }
    h3 {
      margin-top: 200px;
      text-align: left;
    }
    h2 {
      text-align: left;
    }
    h4 {
      text-align: left;
    }
    </style>
  </head>
  <body>
    <h3>Here you go!</h3>
    <h2> <%= @definition %> </h2>
    <h4><a href="/">BACK</a></h4>
  </body>
</html>
